{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="page-header text-center">
  <h2>
    EWB-USA at the University of South Carolina
  </h2>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-push-1">
      <p>
        <em>
          EWB-USA supports community-driven development programs worldwide 
          by collaborating with local partners to design and implement 
          sustainable engineering projects, while creating transformative 
          experiences and responsible leaders.
        </em>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-1">
    {{ home_left | safe }}
  </div>
  <div class="col-xs-12 col-md-5">
    <!-- youtube embed
    -->
    <iframe class="thumbnail" frameborder="0" height="300" src="//www.youtube.com/embed/FdIIXuSezjg" width="100%"></iframe>
  </div>
  <div class="col-xs-12 col-md-5">
    {{ home_right | safe }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br/>
  </div>
  <div class="col-xs-12 col-md-4">
    <a class="thumbnail" data-lightbox="index" href="{% static "images/index1.jpg" %}">
      <img class="img-responsive" src="{% static "images/index1.jpg" %}"/>
    </a>
  </div>
  <div class="col-xs-12 col-md-4">
    <a class="thumbnail" data-lightbox="index" href="{% static "images/index3.jpg" %}">
      <img class="img-responsive" src="{% static "images/index3.jpg" %}"/>
    </a>
  </div>
  <div class="col-xs-12 col-md-4">
    <a class="thumbnail" data-lightbox="index" href="{% static "images/index2.jpg" %}">
      <img class="img-responsive" src="{% static "images/index2.jpg" %}"/>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br/>
  </div>
</div>

{% endblock %}
